body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Helvetica Neue', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    color: #333;
    min-width: 290px;
    margin: 0;
    padding: 0;
  }
  
  #navbar {
    position: fixed;
    width: 300px;
    height: 100%;
    border-right: 1px solid;
    padding: 0;
    margin: 0;
    left: 0px;
    background-color: ;
  }
  
  #navbar header {
    text-align: center;
  }
  
  #navbar ul {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    height: 100%;
  }
  
  #navbar li {
    border-top: 1px solid;
    list-style: none;
    width: 100%;
    position: relative;
    padding: 11px;
    font-size: 1.1rem;
    text-align: center;
  }
  
  #navbar a {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  
  #main-doc {
    position: absolute;
    margin-left: 300px;
    padding: 20px;
    padding-top: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
  }
  
  #main-doc li {
    font-size: 0.75rem;
  }
  
  #main-doc a {
    color: #f5f6f7;
  }
  
  code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: grey;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    font-size: 0.75rem;
  }
  
  header {
    font-size: 2rem;
    font-weight: bold;
  }
  
  @media (max-width: 800px) {
  
  #navbar {
    width: 100%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 200px;
    top: 0;
  }
  
  #navbar header {
    font-size: 1.5rem
  }
  
  #navbar li {
    font-size: 0.75rem;
  }
  
  #main-doc {
    width: 100%;
    position:relative;
    margin-top: 200px;
    margin-left: 0;
  }
  
  }